/* General */
*, *::before, *::after {
    box-sizing: border-box;
}

html{
height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer{
    margin-top: auto;
    background-color: #0E0B16;
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding-bottom: 1rem;
}

ul{
    list-style-type: none;
}

main{
    padding-left: 2rem;
    margin-bottom: 2rem;
}

h1{
    margin: 0;
    color: #FFFFFF;
}

a{
    text-decoration: none;
    color: black;
    display: flex;
}

.margin{
    margin-top: 1rem;
}

.login{
    background-color: #4717F6;
    color: #E7DFDD;
    padding: 10px;
    width: auto;
    border-radius: 15px;
    margin-right: 2rem;
    font-family: 'Roboto Serif', serif;
    border: none;
}

.login:hover{
    background-color: #A239CA;
}

.welcome-header{
    font-family: 'Roboto Serif';
    padding-bottom: 2rem;
}

.content{
    margin: 0 auto;
    margin-top: 3rem;
    background-color: #0E0B16;
    color: #E7DFDD;
    width: 50%;
    padding: 1rem;    
}

.content h2{
    text-align: center;
}

.labels{
    font-style: italic;
    font-size: x-small;
    display: block;
    margin-bottom: 2.5rem;
    font-family: 'Roboto Serif', serif;
}

.input{
    width: 100%;
    height: 2rem;
    background-color: #E7DFDD;
    border-radius: 30px;
    
}

.input:focus{
    outline: none;
}

.first-container{
    width: 80%;
    margin: 0 auto;
}

.help-links{
    text-decoration: none;
    color: #E7DFDD;
    font-size: smaller;
    font-style: italic;
}

.section{
    display: flex;
    gap: 3rem;
}

.section2{
    display: flex;
    justify-content: space-between;
}

.btn-login{
    display: flex;
    justify-content: center;
}

.product-title:focus{
    outline: none;
}

.product-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.parent{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}


.prod-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
}
  
.prod-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.test{
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Header */
.header--text{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
}

.header--text:hover{
    color: #A239CA;
}

.header{
    background-color: #0E0B16;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Crete Round';
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bottom{
    display: flex;
    gap: 5rem;
    width: 100%;
    align-items: center;
    background-color: black;
    justify-content: right;
    padding-right: 3rem;
}

.logo{
    display: flex;
}

.search-group{
    display: flex;
    gap: 1rem;
    width: 100%;
    align-self: flex-end;
    margin-top: .5rem;
}

.search-bar{
    width: 20rem;
    border-radius: 15px;
    border: none;
    text-indent: 1rem;
}

.search-bar:focus{
    outline: none; 
}

/* Home Page */
.procontainer, .product--card, .about, .contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products{
    text-align: center;
    color: white;
}

.product--container{ 
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}

.product--img{
    width: 100px;
    height: 100px;
}

.product--card{
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
    color: black;
    margin-bottom: 2rem;
}
  
.product--type{
    font-size: 0.5rem;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-radius: 25%/50%;
    color: white;
    background-color: slategray;
}
  
.product--name{
    font-size: 0.5rem;
    color: white;
}

.product--code{
    font-size: 0.5rem;
    font-weight: bold;
    color: #757575;
    text-align: center;
    justify-self: right;
}

.product--cost{
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}
  
.about{
    flex-direction: column;
    background-color: rgba(14,11,22, 0.8);
    color: white;
    margin-bottom: 2rem; 
    margin-right: 1rem;
}

.about--table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.about--table td, .about--header {
    border: 1px solid #b5b5b5;
    text-align: left;
    padding: 8px;
    text-align: center;
}
  
.about--row:nth-child(even) {
    background-color: #aeacac;
}
  
.contact{
    flex-direction: column;
    background-color: rgba(0, 64, 64, 0.8);
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    margin: 0 0 5px;
    padding: 10px;
}
  
textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}
  
.contact-submit {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

/* View All Products Page */
.image-container h3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Product Selection Page */
.carousel-img{
    width: 100%;
}

.panel1, .panel2{
    width: 50%;
    margin-top: 2rem;
    padding: 0 1rem;
}

.product-quantity{
    width: 4rem;
    height: 1.5rem;
    margin-left: 1rem;
    text-align: center;
}

/* Footer */

.footer--content{
    gap: 2rem;
}

.footer--content>h2{
    color: white;
}

.footer--links>a{
    text-decoration: none;
    color: white;
    justify-content: center;
}

.footer--content p{
    text-align: center;
    color: white;
}

.footer--links a:hover, .footer--content p:hover{
    color: #4717F6;
}

/* Product List Page */
.product_searchbar{
    margin: 1rem;
    display: flex;
    gap: 0.3rem;
}
  
.search_item{
    width: 15%;
}

.search_item:nth-of-type(1) {
    width: 100%;
}
  
.search_field{
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    border: 2px solid black;
}
  
.search_field:focus{
    border: 3px solid purple;
}
  
.btn_search {
    background-color: #4717F6;
    color: #E7DFDD;
    font-family: 'Roboto Serif', serif;
    border: none;
    border-radius: 1rem;
}
  
.btn_search:hover {
  background-color: #a239ca;
}
  
.btn_clear{
    background-color: #000;
    color: #E7DFDD;
    font-family: 'Roboto Serif', serif;
    border: none;
    border-radius: 1rem;
}
  
.btn_clear:hover {
    background-color: rgb(142, 140, 140);
}
  
/* Pagination links */
.pagination a {
    color: black;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
.pagination a.active {
    background-color: #4717F6;
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: rgb(142, 140, 140);
}